
uvicorn[standard]
sqlalchemy>=2.0
psycopg[binary]
alembic

passlib[bcrypt]
python-jose[cryptography]
python-dotenv
fastapi>=0.116,<1.0          # или просто fastapi для «последней»
pydantic>=2.11,<3.0
pydantic-settings>=1.0
